ion-col {
  //   border: solid 1px #fff;
  color: #fff;
  text-align: center;
}

ion-grid:first-child {
  border: solid 1px #fff;
}
ion-modal {
  --background: rgb(44, 39, 45, 0.2);
  &::part(content) {
    backdrop-filter: blur(6px);
  }
  ion-content {
    --background: transparent;
    --padding-top: 25vh;
    --padding-start: 1.25rem;
    --padding-end: 1.25rem;
    --background: transparent;
  }
}
.extrapart {
  height: 5rem;
  visibility: hidden;
}

ion-card-subtitle {
  display: flex;
  justify-content: space-between;
}

ion-card-title {
  font-size: x-large;
  font-weight: 700;
}
h1 {
  font-size: larger;
  font-weight: 700;
}

ion-item {
  width: 100%;
  padding: 0;
  margin: 0;
  ion-segment {
    width: 100%;
    padding: 0;
    margin: 0;
    ion-segment-button {
      font-size: 10px;
      min-width: auto;

      --indicator-color: transparent;
      --color-checked: #fff;
      --background-checked: var(--ion-color-primary);
      --indicator-height: 4px;
      --border-radius: 0.5rem;
      --indicator-transition: all 0.3s ease;
    }
  }
}