<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="true" class="ion-padding">
  <ng-container *ngIf="showEdit">
    <ion-list>
      <h2 class="ion-margin-start">Editing {{ editEventName }}</h2>
      <ion-item>
        <div class="time">
          <ion-label>Time: </ion-label>
          <div id="etime" style="padding-top: 1rem; margin-left: 2vw; font-size: 1.4rem">
            <ion-text> {{ editTime | date : 'shortTime'}} </ion-text>
          </div>
        </div>
        <ion-modal trigger="etime" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
          <ng-template>
            <ion-content>
              <ion-datetime #time presentation="time" size="cover" [preferWheel]="true"
                (ionChange)="selectTime(time.value)" showDefaultButtons="true" (ionCancel)="!showTime">
              </ion-datetime>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item>
        <ion-input type="number" label="Start Range: " placeholder="starting range"
          [(ngModel)]="editStartRange"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" label="End Range: " placeholder="ending range" [(ngModel)]="editEndRange"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" label="Insulin " placeholder="Insulin dose" [(ngModel)]="insulin"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button class="btn" expand="full" (click)="editHandler()">Done</ion-button>
  </ng-container>

  <ng-container *ngIf="!showEdit">
    <ion-grid *ngFor="let sdata of result[0]">
      <ion-row>
        <ion-col> {{ sdata.eventName}} </ion-col>
        <ion-col> {{ sdata.eventTime | date: 'shortTime' }} </ion-col>
        <ion-col>
          <ion-button id="delete" color="danger" fill="clear"
            (click)="deleteButton({ eventName: sdata.eventName })">Delete</ion-button>
          <ion-modal #modal trigger="delete" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
            <ng-template>
              <ion-content>
                <ion-text>
                  Are you sure?
                </ion-text>
                <ion-button  fill="clear"
                (click)="modal.dismiss()">Cancel</ion-button>
                <ion-button color="danger" fill="clear"
                  (click)="deleteEvent()">Delete</ion-button>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-col>
      </ion-row>
      <!-- <ion-row>

      </ion-row> -->
      <ion-row>
        <ion-col> starting Range </ion-col>
        <ion-col> Ending Range </ion-col>
        <ion-col> Insulin </ion-col>
        <ion-col> Action </ion-col>
      </ion-row>
      <ng-container *ngFor="let ldata of result[1]">
        <ion-row *ngIf="ldata.eventId === sdata.eventId">
          <ion-col class="ion-text-center">
            <ion-text> {{ ldata?.startRange}} </ion-text>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-text> {{ ldata?.endRange }} </ion-text>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-text> {{ ldata?.dose}} </ion-text>
          </ion-col>
          <ion-col>
            <ion-button fill="clear" color="success" [id]="ldata?.id" #id
              (click)="toggleEditHandler({ id })">Edit</ion-button>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-grid>
    <ion-button fill="solid" (click)="handleAddMoreEvent()">Add More Events</ion-button>
  </ng-container>
  <div class="extrapart">this is extra part for to show the transaction</div>
</ion-content>