.time {
  display: flex;
  align-items: center;
  padding: 0 2vh;

  ion-label {
    font-size: 1.2rem;
  }

  div {
    margin-bottom: 2vh !important;
  }
}

ion-col {
  background-color: #2c2d2f;
  border: solid 1px #222;
  color: #fff;
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1vh;
}

.error {
  color: red;
  margin-top: 2vh;
}

// .btn {
//   color: #ffd099;
// }

ion-list {
  background-color: #222;
  color: #fff;
}

// .btn {
//   background-color: #2c2d2f;
//   color: #fff;
// }
ion-modal {
  --background: rgb(44, 39, 45, 0.2);
  &::part(content) {
    backdrop-filter: blur(6px);
  }
  ion-content {
    --background: transparent;
    --padding-top: 25vh;
    --padding-start: 1.25rem;
    --padding-end: 1.25rem;
    --background: transparent;
  }
}
.extrapart {
  height: 5rem;
  visibility: hidden;
}

// .btn {
//   background-color: #ffd099 !important;
// }
